<div id="alert_container" class="alert-container">
  <div id="alert_form" class="alert">
    <h2 id="alert_title" class="alert-title"></h2>
    <a id="alert_close" class="alert-close" href="#">&times;</a>
    <div id="alert_content" class="alert-content">
    </div>
  </div>
</div>
