<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Error</title>
  <link rel="stylesheet" href="./css/error.css?after" type="text/css" />
</head>

<body>
  <h1>Whoops! 500 - Internal server error.</h1>
  <p>Something went wrong. It's not you, it's me.</p>
</body>
</html>
