			<ul id="menu_tree" class="menu">
				<li class="menu-level-1">
					<a href="#" class="tree-no-child">HOME</a>
				</li>
				<li class="menu-level-1">
					<a href="#" class="tree-no-child">What We Do</a>
				</li>
				<li class="menu-level-1" id="for_students">
					<a href="#" class="tree-has-child">For Students</a>
					<div id="student_menu">
						<ul class="menu">
							<li>
								<a href="selectStudentProfile" class="tree-child">Student Application</a>
							</li>
							<li>
								<a href="findTeacher" class="tree-child">Find a Teacher</a>
							</li>
							<li>
								<a href="#" class="tree-child">Careers With Our Partners</a>
							</li>
						</ul>
					</div>
				</li>
				<li class="menu-level-1" id="for_teachers">
					<a href="#" class="tree-has-child">For Teachers</a>
					<div id="teacher_menu">
						<ul class="menu">
							<li>
								<a href="selectTeacherProfile" class="tree-child">Join Us</a>
							</li>
							<li>
								<a href="findStudent" class="tree-child">Find Students</a>
							</li>
							<li>
								<a href="reportPage" class="tree-child">Class Report</a>
							</li>
							<li>
								<a href="#" class="tree-child">Opportunities With Our Partners</a>
							</li>
						</ul>
					</div>
				</li>
				<li class="menu-level-1" id="for_admin">
					<a href="#" class="tree-has-child">For Managers</a>
					<div id="teacher_menu">
						<ul class="menu">
							<li>
								<a href="selectContract" class="tree-child">View Contrats</a>
							</li>
							<li>
								<a href="selectReport" class="tree-child">View Reports</a>
							</li>
						</ul>
					</div>
				</li>
				<li class="menu-level-1">
					<a href="#" class="tree-no-child">Contact Us</a>
				</li>
			</ul>