<nav class="nav">
				<button class="nav-button">Home</button>
				<button class="nav-button">What We Do</button>
				<button class="nav-button">For Students</button>
				<button class="nav-button">For Teacher</button>
				<button class="nav-button">Contact</button>
				<button class="nav-button">Login</button>
</nav>