<nav class="nav">
				<button class="nav-button" onclick="location.href='/'">Home</button>
				<button class="nav-button">What We Do</button>
				<button class="nav-button" onclick="location.href='/selectStudentProfile'">For Students</button>
				<button class="nav-button" onclick="location.href='/selectTeacherProfile'">For Teacher</button>
				<button class="nav-button" onclick="location.href='selectContract'">Contact</button>
				<button class="nav-button" onclick="location.href='selectReport'">Report</button>
				<button id="log_on_off" class="nav-button" onclick="location.href='/'">Login</button>
</nav>